@model IEnumerable<Order>

@* this page appears in Account Page so we add nav link in  "/Areas/Identity/Pages/Account/Manage/ManageNav"  *@

@{
}
<div style="width:100%" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Back</a>

    <h4>My Orders</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>OrderDate</th>
                <th>OrderStatus</th>
                <th></th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td>
                    <td> <a class="btn btn-primary my-2" asp-action="GetDetail" asp-route-orderId="@order.Id"> Details </a> </td>
                </tr>
                <tr>
                    <td>
                        Total:
                    </td>
                    <td>
                        @(order.OrderDetail.Select(item => item.Item.Price * item.Quantity).Sum()) $

                    </td>
                </tr>
            }
        </table>

    }
    else
    {
        <h5>No orders</h5>
    }
</div>